body
{ 
    background-color: #d8cabd;
    text-align: center;
    font-family: 'Lucida Console', Courier, monospace;
    font-size: 20px;
}

#cabecera
{
    background-color: #f3f319;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}